.albumShowPage_wrapper {
  margin: 50px 20px;

  .single-pic-wrapper {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;

    &:hover {
      .preview-btn {
        visibility: visible;
        cursor: pointer;
      }
      &::after {
        position: absolute;
        background-color: rgba(216, 216, 216, 0.658);
        text-align: center;
        content: '';
        color: rgb(255, 255, 255);
        width: 300px;
        border-radius: 10px;
        height: calc(100% - 8px);
      }
    }

    .preview-btn {
      position: absolute;
      z-index: 30;
      visibility: hidden;
      color: white;
      font-size: 1.1rem;
    }
  }

  .my-img {
    border-radius: 10px;
    width: 300px;
    margin: 5px 10px;
  }
}